<!DOCTYPE html>
<html>
  <head>
    <title>TrkDatatablesDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if controller_name == 'users' %>">
            <a class="nav-link" href="<%= users_path %>">Users</a>
          </li>
          <li class="nav-item <%= 'active' if controller_name == 'posts' %>">
            <a class="nav-link" href="<%= posts_path %>">Posts</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
